.leaflet-container {
  height: 100vh;
}

.flex-container {
  display: flex;
}

.flex-child-map {
  flex: 1;
}

.flex-child-detail {
  flex: 0.25;
}

.cluster-icon {
  box-shadow: none;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  color:white
}

.red-cluster-icon {
  background-color: white;
  border: rgb(233, 28, 28);
}

.green-cluster-icon {
  background-color: white;
  border: rgb(70, 219, 70);
}

.orange-cluster-icon {
  background-color: white;
  border: rgb(245, 229, 14);
}
